<div class="row">
<h1 align="center">New Research</h1>

<div class="col-sm-8 col-sm-offset-2">
<%= render 'form', research: @research %>
</div>
<div class="col-sm-12">
  <%= link_to 'Back', researches_path, class:"btn btn-secondary" %>
  <p><br><br></p>
</div>

  
</div>
