<% ParticipantWebinar.where(connected: true).find_each do |participant| %>
  <li class="list-group-item"><%= link_to "#{participant.first_name} #{participant.last_name} - #{participant.city}", participant_path(participant) %> &nbsp;</li>
<% end %>