<% ParticipantWebinar.where(connected: true, webinar_id: @webinar).find_each do |participantw| %>
  <li class="list-group-item"><%= link_to "#{participantw.participant.first_name} #{participantw.participant.last_name} - #{participantw.participant.city}", participant_path(participantw.participant) %> &nbsp;</li>
<% end %>