<li class="list-group-item"><% webinar = d.object.webinar %>
<%= webinar.name %>&nbsp; 
<span class="pull-right"><%= d.check_box :connected %> Connected? | <%= d.check_box :_destroy %> Delete</span></li>
     
  





