<table>
  <tr>
    <th>Webinar</th>
    <th>Connected</th>
    <th></th>
  </tr>
 
  <% @participantwebinars.each do |partweb| %>
    <tr>
      <td><%= partweb.webinar.name %></td>
      <td><%= partweb.connected %></td>
      <td></td>
    </tr>
  <% end %>
</table>